.menu{
    background-color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}





.header{
    background-color: black;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header img{
    width: 5vw;
    height: 5vw;
    margin-right: 1rem;
}

.header-text {
    font-size: 2vw;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-score {
    font-size: 4vw;
    color: white;
}